<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Search engine</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Search engine</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="/search">Search for document</a></li>
					<li><a href="/add">Add document</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">

		<div class="starter-template">
			<h1>Simple search engine</h1>
			<p>This is simple search engine. You can add document to be used in search.
				Also you can search for particular phrase in stored documents. </p>
			<h2>Search principles</h2>
			<ul>
				<li><b>exact match</b> means that we want to find exact matching of the phrase in the document (prefix and postfix are not counted)  </li>
				<li>if no exact matching selected, then match:  all documents that contain <b>all words</b> from he
					phrase (<b>words should match exactly</b>, no endings or prefixes), words from phrarse should be
					found in the <b>order they were provided</b>.
				</li>
			</ul>
			<p>Example 1:</p>
			Search word: <b>interesting test assignment</b>
			<p>Match:</p>
			<pre>We search for <b>interesting</b> people. We <b>test</b> them a lot. After they receive <b>assignment</b>.</pre>

			<p>However Example 2:</p>
			Search word: <b>interesting test assignment</b>
			<p>No match:</p>
			<pre>We send them <i>interesting test assignment<b>s</b></i></pre>


			<h3 th:text="'Existing documents: ' + ${resultList.size()}"/>
			<ul th:each="documentKey : ${resultList}">
				<li>
					<a th:href="@{'/document/' + ${documentKey}}" th:text="${documentKey}"/>
				</li>
			</ul>
		</div>

	</div>
	<!-- /.container -->


</body>
</html>